---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kagent.dev
  resources:
  - agentcards
  - agents
  - modelconfigs
  - remotemcpservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kagent.dev
  resources:
  - agentcards/status
  - agentregistries/status
  - agents/status
  - modelconfigs/status
  - remotemcpservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kagent.dev
  resources:
  - agentregistries
  - mcpservers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kagent.dev
  resources:
  - agents/finalizers
  - modelconfigs/finalizers
  - remotemcpservers/finalizers
  verbs:
  - update
